.div-login {
  position: absolute;
  top: 300px;
  left: 40%;
  width: 25%;
  color: white;
  font-size: 20px;
}
.login {
  position: absolute;
  padding: 20px;
  height: auto;
  background-color: rgb(88, 21, 11);
}
.login div {
  padding: 10px;
}
.check {
  padding: 0 10px;
}
.admin {
  font-size: 17px;
}
.login button {
  position: relative;
  left: 40%;
}
